
.title-banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0 auto 30px;
    font-family: "mkserif",Times New Roman,serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 14vw;
    margin-top: 3vw;
}

.golden {
  display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    transform: scaleY(1.4);
  box-sizing: border-box;
}

.inside-Golden {
    position: absolute;
    top: 4vw;
}

.index-Golden {
  position: absolute;
  margin-right: 60%;
  font-size: 5vw
}

#value-Golden {
  position: absolute;
  margin-left: 60%;
  top: 4vw;
  font-size: 5vw;
}

.text-Golden {
  font-size: 5vw
}

.Header {
  font-size: 5vw;
}

.push {
  margin-right: 4vw;
}