
.title-banner {
    position: relative;
    display: flex;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    font-family: "mkserif",Times New Roman,serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14vw;
    margin-top: 3vw;
}

.golden {
  /* display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    transform: scaleY(1.4);
  box-sizing: border-box; */
}

.inside-Golden {
    position: absolute;
}

.index-Golden {
  position: absolute;
  margin-right: 60%;
  font-size: 5vw
}

#value-Golden {
  position: absolute;
  margin-left: 63%;
  font-size: 5vw;
}

.text-Golden {
  font-size: 5vw
}

.Header {
  font-size: 5vw;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}